html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-image:url("Background.jpg");
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.nav-bar {
    background-color: #311721;
    display:flex;
    width:100%;
    flex-wrap:wrap;
    position: fixed;
    top:0cm;

}

.button{
    margin:10px;
    background-color: #04AA6D;
    color: #311721;
    border: 2px solid #04AA6D;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: white;
    color:black;
}

.button1{
    margin-left:40px;
}
#home-page{
    display: flex;
    margin-top:65px;
    justify-content: center;
}
.box-of-logos{
    max-width:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.victoria3_logo{
    /*transform: translate(-50%,-50%);*/
    width: 418.3335px;
    height: 225.802px;
}
.paradox-interactive-logo{
    height:300px;
}
.box-of-logos>h1{
    font-size: 75px;
    margin-top: 40px;
}
#video-div{
    width: 60%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#video-div>iframe{
    width:450px;
    height:315px;
}

footer{
    height: 400px;
    background-color: black;
    color: white;
}
footer>img{
    margin:10px;
    margin-left:30px;
    width: 60px;
    height: 60px;
}

footer{
    padding-left: 10%;
    padding-right: 10%;
}
.footer-first-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media-logos>li{
    float:right;
}
.social-media-logos>li>img{
    width: 42px;
    height: 42px;
}

.container{
    display: flex;
    justify-content: center;
}

.about-us-front-page{
    margin-top: 80px;
    background-color: #432f20;
    display: flex;
    width:80%;
    height:400px;
}

.about-us-front-page>.left-box,.right-box{
    width:50%;
}
.about-us-front-page>.right-box{
    justify-content: center;
    align-items: center;
    display:flex;
    padding:1%;
}

.introduction_container{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}
.introduction_container>div{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 60px;
}
.introduction_container>div>.box{
    display:flex;
    margin-top:30px;
}
.introduction_container>div>.title{
    font-size: 40px;
    text-align: center;
}
.introduction_container>div>.box>img{
    width:50%;
}

.call-to-action-container{
    margin-top: 60px;
    background-color: #311721;
    width: 90%;
    height: 400px;
    color:white;
    padding-left: 5%;
    padding-right: 5%;
}

.call-to-action-container>p{
    font-size: 20px;
    text-align: center;
}

.call-to-action-container>.title{
    font-size: 40px;
    text-align: center;
}

.call-to-action-container>.box{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}