html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-image:url("Background.jpg");
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.nav-bar {
    background-color: #311721;
    display:flex;
    width:100%;
    flex-wrap:wrap;
    position: fixed;
    top:0cm;

}

.button{
    margin:10px;
    background-color: #04AA6D;
    color: #311721;
    border: 2px solid #04AA6D;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: white;
    color:black;
}

.button1{
    margin-left:40px;
}